.customPaginator{
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}
.customPaginator .pagination{
    margin: 10px;
}
.customPaginator .pagination a{
    cursor: pointer;
}
/* pop */
.popBox{
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
}
.popBox .popWin{
    position: absolute;
    top: 50px;
    width: 600px;
    box-sizing: border-box;
    border: 1px solid #d6d4d4;
    border-radius: 1px;
    z-index: 9999;
}
.popWin .popContent{
    padding: 10px;
    background: #fff;
    max-height: calc(100vh - 80px);
    overflow: auto;
}
.popWin .popTitle{
    text-align: center;
    padding: 0px 0px 4px;
    background: #f9f9f9;
    font-weight: bold;
    color: #565252;
    font-size: 17px;
    padding: 4px 0px 5px;
}
.popWin .submitLine{
    text-align: right;
    padding: 5px 5px 0 0;
    position:relative;
}
.popWin .close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    text-align: center;
    color: #b37979;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    background: #e4e2e2;
    font-size: 14px;
    opacity: 0.7;
}
.popWin .close:hover{
    opacity: 1;
}

.popIframe{
    width: 100%;
    height: calc(100vh - 115px);
    border: none;
}
.staticBack{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.74);
}
.statMessage{
    margin: 30px auto;
    color: #000!important;
}

/* list docs */
.listDocs{
    max-width: 908px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #8a6634;
    padding-top: 10px;
}
.listDocs .item{
    flex: 1 1 23%;
    padding: 8px 10px;
    margin: 10px;
    border: 1px solid rgba(138, 102, 52, 0.12);
    background: #fffdf7;
    color:#000;
    word-wrap: normal;
    white-space: nowrap;
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*txt*/
/*
.listDocs .item:before{
    content: "\e924";
    font-family: 'icomoon' !important;
    float: left;
    font-size: 40px;
    font-weight: normal;
    margin-right: 5px;
    color: #8a6634;
}
//exel 
.listDocs .item.xlsx:before , .item.xls:before{
    content: "\eadd";
    color:#1c7114;
}
/pdf/
.listDocs .item.pdf:before{
    content: "\eada";
    color:#a31e2b;
}
doc
.listDocs .item.doc:before,.item.docx:before{
    content: "\eadc";
    color:#04409b;
}
*/