body{
   position: relative;
   box-sizing: border-box;
   padding-bottom: 100px;
   font-size: 20px;
}
html{
    background: #fff !important;
}
.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #8a6634;
    color: #FFF4CA;
    min-height: 78px;
    
}
.footer tr td{
   color: #FFF4CA;
}
.footer .contacts{
    max-width: 904px;
    margin: 0 auto;
    color: #FFF4CA;
    font-size: 0.8em;
    padding: 15px 0px 15px;
    position: relative;
}
.footer .contacts p {
    padding: 4px;
    margin: 0px;
}
.footer .contacts .creator{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d9e4ff;
    text-decoration: none;
}
.footer .contacts .creator:before{
    content: "";
    background: url(/custom/img/jqdlogo.png) no-repeat center;
    height: 50px;
    width: 60px;
    display: inline-block;
    background-size: contain;
    float: left;
}
.footer .contacts .creator span{
    padding: 5px 0 5px 9px;
    display: inline-block;
}
body,html{
    margin: 0px;
    font-family: "Droid Serif";
    /*display: flex;
    flex-direction: column;
    flex: auto;*/
}
.logoBox{
    padding: 15px 0 35px;
}
.logoBox .logo{
    font-weight: bold;
    font-size: 1.4em;
    color: #342109;
    display: table;
    margin: 0 auto;
}
.logoBox .logo span{
    display: table-cell;
    vertical-align: middle;
}
.menu{
    display: flex;
    max-width: 905px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.menu .item{
    flex: 1 1;
    padding: 8px 20px;
    text-align: center;
    border-right: 1px solid #ccc;
}
.menu .item:last-of-type{
    border-right: none;
}
.menu .item a {
    text-decoration: none;
    color: #342109;
    transition: color 0.4s ease 0s;
}
.menu .item.check>a {
    color: #EABD07;
}
.menu .item:hover>a{
   color: #EABD07; 
}

.mainContent .imgBox {
    position: relative;
}
.mainContent .imgBox img{
    max-width: 100%;
}
.mainContent .podlog{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.podlog .contaner{
    max-width: 904px;
    margin: 0 auto;
    background: url(/custom/img/podlog.png);
    height: 100%;
}
.podlog .contaner .textBox {
    color: #fff;
    font-size: 2em;
    background: #422a0c;
    position: absolute;
    max-width: 425px;
    top: 65px;
    bottom: 15px;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
}

.podlog .contaner .textBox .table{
    display: table;
    height: 100%;
    width: 100%;
}
.podlog .contaner .textBox .table .cell{
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}
.mainContent .flexBoxed{
    display: flex;
    flex-wrap: wrap;
    max-width: 905px;
    margin: 0 auto;
    padding-top: 20px;
}
.mainContent .flexBoxed .flexText{
    flex: 2 1;
    padding-bottom: 120px;
    flex: 2 1 300px;
}
.mainContent .flexBoxed .question{
    flex: 0 0 350px;
    padding-left: 15px;
    margin: 0 auto;
}
.mainContent .flexBoxed .flexText .text{
    font-size: 0.85em;
}
.mainContent .flexBoxed h2{
    font-weight: normal;
    padding: 10px 0;
    margin: 0px;
}
.mainContent .flexBoxed .flexList{
    display: flex;
    padding: 20px 0 10px;
}
.mainContent .flexBoxed .flexList .flexItem .title {
    padding-top: 10px;
}
.mainContent .flexBoxed .flexList .flexItem{
    flex: 1 1;
    max-width: 180px;
    text-align: center;
}
.mainContent .question form{
    background: #FFF4CA;
    padding: 10px 20px 20px;
    margin-top: -100px;
    position: relative;
}
.mainContent .question form h2{
    font-weight: normal;
    margin: 0;
    color: #342109;
}
.mainContent form input{
    border: 3px solid #bdbf37;
    display: table;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin-bottom: 15px;
    margin: 30px auto;
    background: transparent;
    font-size: 0.85em;
    color: #342109 !important;
    outline: none;
}
.mainContent form .submit{
    border-radius: 5px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    background: rgba(104, 176, 77, 1) url(/custom/img/button_bg.png) 50% 50% repeat-x;
    border: solid rgba(28, 138, 67, 1) 0px;
    display: table;
    margin: 0 auto;
    color: #fff;
    font-size: 1.2em;
    width: 250px;
    padding: 15px 0;
    cursor: pointer;
}
.mainContent form .submit:before{
    content:"" !important;
}
.secondArticle{
    max-width: 908px;
    margin: 20px auto;
}
.licenseBox {
    margin: 10px auto;
    padding-top: 10px;
    max-width: 908px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #8a6634;
}
.licenseBox a {
    flex: 1 1 25%;
    text-align: center;
    padding: 10px;
}
.licenseBox a img {
    box-shadow: 2px 2px 3px #8a6634;
}
.productList {
    max-width: 908px;
    margin: 10px auto 30px;
    padding-top: 10px;
}
.productList .post {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(138, 102, 52, 0.12);
    background: #fffdf7;
}
.productList .post h2 {
    margin: 0px;
}
.productList .post .textBox{
    padding: 0 0 0 15px;
}
a {
    color: #d9e4ff;
}
.formRequest .submitBox{
    position: relative;
}
.listDocs{
    max-width: 908px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #8a6634;
    padding-top: 10px;
}
.listDocs .item{
    flex: 1 1 23%;
    padding: 8px 10px;
    margin: 10px;
    border: 1px solid rgba(138, 102, 52, 0.12);
    background: #fffdf7;
    color:#000;
    word-wrap: normal;
    white-space: nowrap;
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*txt*/
.listDocs .item:before{
    content: "\e924";
    font-family: 'icomoon' !important;
    float: left;
    font-size: 40px;
    font-weight: normal;
    margin-right: 5px;
    color: #8a6634;
}
/* exel */
.listDocs .item.xlsx:before , .item.xls:before{
    content: "\eadd";
    color:#1c7114;
}
/*pdf*/
.listDocs .item.pdf:before{
    content: "\eada";
    color:#a31e2b;
}
/*doc*/
.listDocs .item.doc:before,.item.docx:before{
    content: "\eadc";
    color:#04409b;
}